* {
  box-sizing: border-box;
}

:focus {
  /* TODO */
}

body {
  /* background-color: rgb(65, 105, 225); */
  /* background: rgb(12,122,0); */
  background: linear-gradient(90deg, rgba(12, 122, 0, 1) 0%, rgba(0, 171, 87, 1) 40%, rgba(0, 212, 255, 1) 100%);
}

input {
  background: transparent;
  color: white;
}

input::placeholder {
  color: white;
}

.search-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
  position: relative;
}

.search-container input,
.search-container .suggestions {
  font-size: 24px; 
}

.search-container input {
  border: 2px solid white;
  /* padding: 10px, 2px, 10px, 2px; */
  padding: 5px;  
  border-radius: 100px;
  /* outline: none; */ /*Gets rid of the black outline in the box. I like it so I leave this in.*/
}

.search-container .suggestions {
  /* TODO */
}

ul {
  color: white; 
}

ul.has-suggestions {
  /* TODO */
}

ul li {
  /* TODO */
}

ul li:hover {
  background-color: black;
}

input {
  /* TODO */
}